<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/styles.css">

</head>
<body>
	<div class="main-content">
	{{>headers}}

	<img class="imgRobot" src = "./image/full-nao.png">

	</div>
	{{>footer}}
	</body>


</html>