
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/styles.css">
	
</head>
<body>
	<div class="main-content">
	{{>headers}}
	<br>
		<p>Some content for visualisation</p>
	<br><br>

	<form>
		<input placeholder="Location">
		<Button>Search</Button>
	</form>
	<p id="message-1">

	</p>
	<p id="message-2">

	</p>
	</div>
	{{>footer}}
	<script src = "./js/app.js"></script>
	</body>


</html> 